@import '../../../../../../assets/style/mixin.scss';
@import '../../../../../../assets/style/variables.scss';

.app-header-element {
    width: $card-width;
    background: $color-white;
    text-align: right;
    display: flex;
    justify-content: flex-end;

    &__updated {
        height: 20px;
        vertical-align: middle;
        color: $color-grey;
        padding: 10px;
    }

    &__elapsed-release,
    &__elapsed-asset {
        background: $color-red;
        color: $color-white;
        width: 120px;
        height: 40px;
    }
    &__elapsed-asset {
        background: $color-yellow;
    }

}