@import '../../../../assets/style/variables.scss';
@import '../../../../assets/style/mixin.scss';

.home-nav__title{
    margin: 0;
    padding: 20px;
    font-weight: normal;
}

.app-play-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;

    &__resource {
        list-style-type: none;
        padding: 10px;
    }
}
